body {
    background-color: rgb(31, 5, 5);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: red;
    height: 20px;
}
p {
    color: darkred;
}
p.text {
    height: 20px;
}
p.made {
    height: 10px;
}
img {
    width: 150px;
    height: 150px;
}